$color_1: #0B0B13;
$color_2: #253195;
$color_3: #314DA0;
$color_4: #5A5AA1;
$color_5: #4540B8;
$color_6: #5D65DD;
$color_7: #B848BD;
$color_8: #a6cfe5;
$color_9: #7490a0;
$color_10: #253195;
$color_11: #314DA0;
$color_12: #5D65DD;
$color_13: #4540B8;
$color_14: #5D65DD;
$color_15: #B848BD;
$color_16: #a6cfe5;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}