$color_1: #181322; // $color_1: #1b2128;
$color_2: #8F4E47;
$color_3: #DC6B39;
$color_4: #CD663B; // $color_2: #212931;
$color_5: #AC5C42;
$color_6: #AF6459;
$color_7: #DC6B39;
$color_8: #caa8a7;
$color_9: #8d7574;
$color_10: #8F5A64;
$color_11: #CD663B;
$color_12: #8F4E47;
$color_13: #AC5C42;
$color_14: #AF6459;
$color_15: #8F5A64;
$color_16: #caa8a7;

* {
	font-family: 'FiraCode Nerd Font Mono';
	font-size: 20px;
	background: transparent;
	color: $color_9;
}